.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_containt {
    padding: 0 7rem;
    display: flex;
}

.home_title {
    width: 50%;
    margin-left: 2rem;
}

.home_title h2 {
    color: #f54c49;
    font-size: 40px;
}

.home_title h1 {
    color: #fff;
    font-size: 50px;
}

.home_title p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #808dad;
    width: 90%;
}

.home_title h3 {
    font-size: 25px;
    margin-top: 25px;
    color: #808dad;
}

.home_title button {
    margin-top: 1rem;
    font-size: 20px;
    border: #f54c49 2px solid;
    color: #f54c49;
    background-color: #101a3f;
    padding: .5rem 2rem;
}

.home_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 20px;
    padding: 2rem;
}

.home_img img {
    width: 70%;
    border-radius: 20px;
}

.cercle_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #f54c4941;
    right: 2rem;
    bottom: 1rem;
}

.cercle_2 {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #f54c49d2;
    padding: 1rem;
    right: 0;
    bottom: 0;
}

/* ------------------- experiances ---------------------------- */

.experience {
    border-top: #131f4d 1px solid;
    height: 100vh;
    padding: 4rem 0;
}

.circle_bar {
    width: 10%;
}

.experience_content {
    display: flex;
    color: #fff;
    height: 80vh;
}

.experience_year {
    width: 40%;
    height: 100%;
    margin-left: 10%;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    border-left: 1px #fff solid;
}

.experience_year h1 {
    font-size: 11rem;
    margin-top: 4rem;
    margin-left: 20%;
    color: rgb(180, 180, 180);
}

.experience_year h1 span {
    color: #f54c49;
}

.experience_details {
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.experience_details .line {
    width: 20%;
    margin-top: 5rem;
    margin-left: 6rem;
    border-bottom: #808dad 2px solid;
}

.experience_details h3 {
    margin-top: 1rem;
}

.experience_value  {
    width: 60%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.experience_value p {
    color: #808dad;
    font-size: 18px;
    width: 80%;
}

.experience_value h1 {
    color: #f54c49;
}

.circle_containt {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.circle_containt h5 {
    margin-left: 2rem;
}

.circle_containt .CircularProgressbar {
    width: 15%;
}

.circle_bar {
    width: 15%;
}

/* ------------------- portofolio ---------------------------- */

.portfolio {
    padding: 6rem 0;
    border-top: #131f4d 1px solid;
    border-bottom: #131f4d 1px solid;
}

.portfolio_containt {
    margin-left: 10%;
}

.portfolio_containt h1 {
    margin-bottom: 2rem;
    color: #f54c49;
}

.portfolio_containt h3 {
    color: #808dad;
}

.project {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.project_container {
    padding: 2rem 1rem;
    border-radius: 1rem;
    width: 32%;
    background-color: rgba(255, 255, 255, 0.055);
    height: 70vh;
}

.project_container h5 {
    color: #f54c49;
    font-size:  18px;
}

.project_container p {
    color: #808dad;
    margin-top: 10px;
    margin-bottom: 7px;
}

.project_links {
    display: flex;
    flex-direction: column;
}

.project_links a {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #fff;
    text-decoration: none;
}

.project_links a span {
    color: #f54c49;
    margin-left: 10px;
}

.project_links a:hover {
    color: #f54c49;
}

.technologies {
    display: flex;
    margin-top: 15px;
}

.technologies h4 {
    background-color: rgba(255, 255, 255, 0.199);
    color: #808dad;
    padding: 3px 10px;
    border-radius: 5px;
}

.technologies h4:nth-child(even) {
    margin-left: 10px;
}

.technologies h4:nth-child(3n-3) {
    margin-left: 10px;
}

.project_container .img {
    background-color: rgba(255, 167, 255, 0.678);
    margin-top: 2rem;
    width: 100%;
    border-radius: 5px;
    height: 10rem;
}

/* ------------------- about ---------------------------- */

.about {
    display: flex;
    padding: 6rem 0;
    border-top: #131f4d 1px solid;
    border-bottom: #131f4d 1px solid;
}

.about_informations {
    margin-left: 10%;
    width: 50%;
}

.about_content p {
    color: #808dad;
    line-height: 1.2;
    margin-top: 1rem;
    font-size: 1.2rem;
    width: 80%;
}

.about h1 {
    margin-bottom: 2rem;
    color: #f54c49;
}

.about h3 {
    color: #ffffff;
}

.about_langes {
    width: 50%;
    margin-right: 9%;
    padding: 2rem 0;
}

.about_langes h3 {
    color: #fff;
}

.about_langes_tech {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.about_langes_tech h4 {
    margin-top: 5px;
    color: #808dad;
}

.about_langes_tech h4 span {
    color: #f54c49;
    margin-right: 10px;
}

.download_cv a {
    margin-top: 0;
    text-decoration: none;
    font-size: 15px;
    border: #f54c49 2px solid;
    color: #f54c49;
    background-color: #101a3f;
    padding: .5rem 2rem;
    cursor: pointer;
}

.download_cv .download {
    font-size: 15px;
    border: none;
    border-bottom: 1px #f54c49 solid;
    color: #f54c49;
    background-color: #101a3f00;
    padding: .3rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.about_picture {
    position: relative;
    margin-top: 6rem;
    width: 50%;
    background-color: #f54c49da;
    width: 16rem;
    height: 16rem;
    border-radius: 81% 15% 46% 54% / 60% 40% 75% 40%; 
}

.about_picture img {
    width: 100%;
    margin-top: -2.5rem;
    border-radius: 13% 100% 46% 54% / 60% 45% 85% 38%; 
}

.line_1,
.line_2 {
    position: absolute;
    right: -4rem;
}

.line_3,
.line_4 {
    position: absolute;
    left: -3rem;
    bottom: -1rem;
}

.line_2,
.line_4 {
    height: 1rem;
    width: 4rem;
    background-color: #f54c49;
}

.line_1,
.line_3 {
    height: 1rem;
    width: 4rem;
    background-color: #ffffff;
}

.line_1 {
    top: -1rem;
    right: -5rem;
}

.line_3 {
    bottom: -2rem; 
    left: -4rem
}

/* ------------------- contacts ---------------------------- */

.contacts {
    display: flex;
    margin-left: 10%;
    color: #808dad;
}

.info {
    width: 50%;
}

.contacts h1 {
    margin-bottom: 2rem;
    color: #f54c49;
}

.contact_info {
    margin-top: 3rem;
}

.contact_info h3 {
    color: #fff;
}

.contact_info p {
    margin-top: 1.2rem;
    width: 70%;
    font-size: 1.2rem;
}

.contact_info p span {
    color: #f54c49;
    background-color: #f54c492a;
    font-size: 1.2rem;
    padding: .5rem;
}

.form {
    width: 50%;
}

.form h2 {
    margin: 3rem;
    margin-left: 46%;
    font-style: italic;
}

.form form {
    width: 80%;
}

.form form input,
.form form textarea {
    margin-top: .4rem;
    outline: none;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 1rem .5rem;
    color: #808dad;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px #808dad solid;
}

.form form textarea {
    height: 10rem;
}

.form form button {
    margin-top: .7rem;
    border: none;
    background-color: #f54c49;
    font-size: 15px;
    padding: .6rem 1rem;
}
